.awareness-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
}

h4 {
  color: white;
  width: 70%;
  margin: 2em;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
}

video {
  max-width: 100%;

  margin: 2em;
}
