.event-container {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
}

.event-heading {
  display: flex;
  justify-content: center;
  width: 100%;
}

.althea-h3 {
  color: #09e8de;
  display: flex;
  justify-content: center;
  width: 80%;
}

.event-images {
  width: 100%; /* Default setting for all screen sizes */

  /* Media query for screens with a minimum width of, for example, 768 pixels */
  @media (min-width: 768px) {
    width: 50%; /* Set the width to 50% on larger screens */
  }
}
