.event-container {
  max-width: 80%;
  /*  margin: 0 auto;  */ /* Center the container horizontally */
  margin-left: 4em;
  height: 100%; /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
}

.event-images {
  margin-left: 4em;
}
