* {
  box-sizing: border-box;
}

.main-colors {
  background-color: black;
  /*

  height: 100vh;
  margin: 0; */
  /*  overflow: auto; */
  /*   display: flex;
  align-items: center;
  justify-content: center;
 */

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh; /* Ensure a minimum height */
  overflow: auto; /* Enable scrolling when content overflows */
  margin: 0;
  padding-top: 0px; /* Add space for the navbar */
}

.container-colors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px; /* Set a maximum width for the container */
  width: 100%; /* Ensure container takes full width on smaller screens */
  padding: 20px; /* Add padding for better spacing */
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 2s ease;
}

/* Make squares larger on larger screens */
@media screen and (min-width: 600px) {
  .square {
    height: 24px;
    width: 24px;
  }
}

.square:hover {
  transition-duration: 0s;
}
