.shop-container {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10em;
  width: auto;
}

img {
  width: 30em;
  margin-left: 2em;
}

.sizes {
  color: #09e8de;
  width: 70%;
}

.sizes1 {
  color: #09e8de;
}

.sizes2 {
  color: #09e8de;
  margin-left: 6em;
}
.shop-headings {
  color: #f4308f;

  width: auto;
}

.short-sleave {
  margin: 2em;
  margin-left: 6em;
  width: auto;
}

.long-sleave {
  margin: 2em;
  margin-left: 6em;
  width: auto;
}

.long-sleave img {
  margin-left: 2em;
}

.shop-order {
  color: #09e8de;
  margin: 1em;
  margin-left: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.order-how {
  color: white;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 4em;
}

.how1 {
  text-align: left;
  margin: 0 auto;
  max-width: 300px;
}

.wish {
  color: #f4308f;
  width: auto;
}
.wish1 {
  color: #09e8de;
}

.design {
  margin-top: 4em;
  display: inline-block; /* Ensures the square only takes up the space it needs */
  padding: 8px; /* Adjust the padding as needed */
  border: 2px solid #09e8de; /* Border color and width */
}
